/Ass-real/Assignment/nbproject/private/
/Work/workshop2/nbproject/private/
/Work/workshop2/build/
/Work/workshop2(TH)/Q1/nbproject/private/
/Work/workshop2(TH)/Q1/build/
/Work/workshop2(TH)/JavaApplication17/nbproject/private/
/Work/workshop2(TH)/Q2/nbproject/private/
/Work/workshop2(TH)/Q2/build/
/Work/Java/Assignment/nbproject/private/
/Work/Java/Assignment/build/
/Work/Java/Lab5/nbproject/private/
/Work/Java/Lab5/build/
/Work/Java/CarManager/nbproject/private/
/Work/Java/CarPrj/build/