/Ass-real/Assignment/nbproject/private/
/Work/workshop2/nbproject/private/
/Work/workshop2/build/
/Work/workshop2(TH)/Q1/nbproject/private/
/Work/workshop2(TH)/Q1/build/
/Work/workshop2(TH)/JavaApplication17/nbproject/private/
/Work/workshop2(TH)/Q2/nbproject/private/
/Work/workshop2(TH)/Q2/build/